
/*
SITE: HEADER
------------
The site's main header.
*/

.o-site-header {
  align-items: center;
  display: grid;
  grid-column: 1 / 5;
  grid-gap: var(--spacing-xs);
  grid-template: "center center center center" "left left left right";
  grid-template-columns: subgrid;
  grid-template-rows: repeat(2, auto);
  margin: var(--spacing-xs) var(--spacing-xs) 0;
  pointer-events: none;
  position: relative;
  width: auto;
  z-index: var(--z-header);
}

@media (--br-xs) {
  .o-site-header {
    grid-gap: var(--s);
    grid-template: "left center right";
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    left: 0;
    margin: var(--spacing-s) var(--spacing-xs) var(--spacing-m);
    position: fixed;
    right: 0;
    top: 0;
  }
}

.o-site-header__left {
  grid-area: left;
  justify-content: flex-start;
}

.o-site-header__center {
  grid-area: center;
  grid-column: 1 / 5;
  line-height: 0;
  text-align: center;
}

.o-site-header__right {
  grid-area: right;
  justify-content: flex-end;
}

.o-site-header__clickable {
  pointer-events: auto;
}
