
/*
SITE: FOOTER
------------
The site's main footer module
*/

.o-site-footer {
  background-color: var(--grey-10);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  z-index: var(--z-footer);
}

.o-site-footer > section {
  grid-column: 1 / -1;
}

@media (prefers-color-scheme: dark) {
  .o-site-footer {
    background-color: var(--black);
  }
}

/* UNORDERED LISTS */
.o-site-footer ul,
.o-site-footer dl {
  display: block;
}

.o-site-footer li,
.o-site-footer dt,
.o-site-footer dd {
  display: block;
  list-style: none;
  margin: 0 var(--regular) var(--regular) 0;
}

@media (--br-s) {
  .o-site-footer ul,
  .o-site-footer dl {
    margin-bottom: 0;
  }

  .o-site-footer dt,
  .o-site-footer dd,
  .o-site-footer li {
    display: inline-block;
  }
}

@media (--br-l) {
  .o-site-footer--content {
    grid-column: 2 / 6;
  }
}