/**
 * ENTITY: CONTENT BLOCK
 * Blocks of content.
 */

.e-content-block {
  background-color: var(--white);
  box-shadow: var(--shadow-panel);
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;;
  max-width: 56ch;
  padding: var(--spacing-m) var(--s);
  position: relative;
  z-index: var(--z-content);
}

.e-content-block > * {
  grid-column: 1 / -1;
}

@media (--br-m) {
  .e-content-block {
    padding: var(--xl);
  }
}

@media (prefers-color-scheme: dark) {
  .e-content-block {
    background-color: var(--grey-90);
  }
}

.e-content-block--transparent {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
