.e-grid-global {
  align-items: start;
  display: grid;
  grid-gap: var(--xl);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0 var(--spacing-xs) var(--spacing-l);
}

@media (--br-s) {
  .e-grid-global {
    grid-gap: var(--l);
  }
}

@media (--br-m) {
  .e-grid-global {
    grid-gap: var(--xl);
    margin: 0 var(--spacing-xl) var(--spacing-xl);
  }
}

@media (--br-l) {
  .e-grid-global {
    grid-gap: var(--xl);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: auto auto;
  }
}

@media (--br-xl) {
  .e-grid-global {
    grid-gap: var(--xxl);
  }
}
