{{/*
FLICKR IMAGE
-----------
Displays an image from Flickr with appropriate attribution and lazy loading.
Handles high-resolution images responsively.
*/}}

{{ $url := .Get "url" }}
{{ $title := .Get "title" | default "Photo on Flickr" }}
{{ $isLocal := hasPrefix $url "/images/" }}

{{ if $isLocal }}
  <figure class="a-figure a-figure--flickr">
    <picture class="a-picture">
      <!-- Create a low-quality placeholder -->
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" <!-- Tiny transparent placeholder -->
        data-src="{{ $url }}"
        alt="{{ $title }}"
        loading="lazy">
    </picture>
    {{ if $title }}
      <figcaption>
        {{ $title }}
      </figcaption>
    {{ end }}
  </figure>
{{ else }}
  {{ $smallUrl := replace $url "_b.jpg" "_m.jpg" }}
  {{ $mediumUrl := replace $url "_b.jpg" "_z.jpg" }}
  {{ $largeUrl := $url }}  {{/* Already large (_b.jpg) */}}

  <figure class="a-figure a-figure--flickr">
    <picture class="a-picture">
      <!-- Use data-srcset for LazyLoad library to handle -->
      <source media="(min-width: 1200px)" data-srcset="{{ $largeUrl }}">
      <source media="(min-width: 700px)" data-srcset="{{ $mediumUrl }}">
      <!-- Very small image placeholder for immediate display -->
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" <!-- Tiny transparent placeholder -->
        data-src="{{ $largeUrl }}"
        alt="{{ $title }}"
        loading="lazy">
    </picture>
    {{ if $title }}
      <figcaption>
        {{ $title }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}