{{ if .Params.featured_image }}
  {{ $image := resources.GetMatch .Params.featured_image.src }}
  {{ if $image }}
    {{ $tiny := $image.Resize "20x" }}
    {{ $small := $image.Resize "150x" }}
    {{ $medium := $image.Resize "720x" }}
    {{ $large := $image.Resize "1440x" }}
    {{ $xlarge := $image.Resize "2160x" }}

    <figure class="m-visual-banner">
      <picture class="a-picture">
        <source data-srcset="{{ $xlarge.RelPermalink }}" media="(min-width: 1200px)">
        <source data-srcset="{{ $large.RelPermalink }}" media="(min-width: 700px)">
        <source data-srcset="{{ $medium.RelPermalink }}" media="(min-width: 300px)">
        <img
          class="m-visual-banner__image"
          src="{{ $tiny.RelPermalink }}"
          data-src="{{ $small.RelPermalink }}"
          loading="lazy"
          data-animation="fade-in">
      </picture>

      {{ if $.Params.feature_image_label }}
        <figcaption>{{ $.Params.feature_image_label }}</figcaption>
      {{ end }}
    </figure>
  {{ else }}
    <!-- Fallback when image not found -->
    <figure class="m-visual-banner m-visual-banner--is-empty"></figure>
  {{ end }}
{{ else }}
  <figure class="m-visual-banner m-visual-banner--is-empty"></figure>
{{ end }}

<div class="a-visual-banner-overlay"></div>
