<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

    <title>{{ .Title | default .Site.Title }}</title>
    <meta name="description" content="{{ $.Description }}" />

    {{ $imgPath := cond (hasPrefix $.Params.featured_image.src "/") (strings.TrimPrefix "/" $.Params.featured_image.src) $.Params.featured_image.src }}
    {{ $fullImageURL := printf "%s%s" .Site.BaseURL $imgPath }}
    
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Title | default .Site.Title }}"/>
    <meta property="og:image" content="{{ $fullImageURL }}?nf_resize=fit&w=1200&h=627"/>
    <meta property="og:image:secure_url" content="{{ $fullImageURL }}?nf_resize=fit&w=1200&h=627"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:description" content="{{ $.Description }}"/>
    <meta property="og:url" content="{{ .Site.BaseURL }}{{ strings.TrimPrefix "/" .RelPermalink }}" />

    <!-- LinkedIn specific meta tags -->
    <meta name="image" property="og:image" content="{{ $fullImageURL }}?nf_resize=fit&w=1200&h=627" />
    <meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Title }}{{ end }}" />
    
    <meta name="twitter:title" content="{{ .Title | default .Site.Title }}">
    <meta name="twitter:description" content="{{ $.Description }}">
    <meta name="twitter:image" content="{{ $fullImageURL }}?nf_resize=fit&w=1200&h=627">
    <meta name="twitter:image:alt" content="{{ $.Params.featured_image.alt }}">
    <meta name="twitter:site" content="@bramwillemse">

    <base href="{{ $.Site.BaseURL }}" />

    <!-- Debug CSS -->
    {{ $css := resources.Get "main.css" }}
    {{ if $css }}
      {{ warnf "CSS found: %s" $css.RelPermalink }}
      {{ warnf "CSS name: %s" $css.Name }}
      <link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}">
    {{ else }}
      {{ warnf "CSS not found. Looking in: %s" "assets/main.css" }}
      {{ warnf "Base URL: %s" .Site.BaseURL }}
    {{ end }}
  </head>

  <body class="e-grid-global">
    {{ block "skiplinks" . }}
      {{ partial "molecules/skip-links" . }}
    {{ end }}

    {{ block "header" . }}
      {{ partial "organisms/site-header" . }}
    {{ end }}

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ block "footer" . }}
      {{ partial "organisms/site-footer" . }}
    {{ end }}

    <!-- Debug JS -->
    {{ $js := resources.Get "bundle.js" }}
    {{ if $js }}
      {{ warnf "JS found: %s" $js.RelPermalink }}
      {{ warnf "JS name: %s" $js.Name }}
      <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
    {{ else }}
      {{ warnf "JS not found. Looking in: %s" "assets/bundle.js" }}
      {{ warnf "Base URL: %s" .Site.BaseURL }}
    {{ end }}
  </body>

</html>
