{{/*
LIST (PHOTOS)
--------------
*/}}

{{ define "main" }}
  <main id="site-main" tabindex="-1" class="o-site-main">
    <section class="e-list">
      <header class="m-list-header">
        <h1 class="m-list-header__title">{{ .Title }}</h1>
        <p class="m-list-header__subline">{{ .Description }}</p>
      </header>

      {{ $paginator := .Paginate (where (where .Pages "Section" "photos") "Kind" "page") 12 }}
      
      <div class="e-photos-grid">
        {{ range $paginator.Pages }}
          <article class="o-photo e-content-block e-content-block--transparent">
            <a href="{{ .Permalink }}" class="o-photo__link" title="View: {{ .Title }}">
              {{ with .Params.featured_image }}
                <img src="/{{ .src }}" 
                     alt="{{ $.Title }}"
                     loading="lazy"
                     class="o-photo__image">
              {{ else }}
                {{ with $.Params.flickr }}
                  <img src="{{ .image_url }}" 
                       alt="{{ $.Title }}"
                       loading="lazy"
                       class="o-photo__image">
                {{ end }}
              {{ end }}
              
              <h2 class="o-photo__title">
                {{ .Title }}
              </h2>
              <p class="o-photo__date">
                {{ partial "atoms/date" . }}
              </p>
            </a>
          </article>
        {{ end }}
      </div>

      {{ partial "molecules/pagination" . }}
    </section>
  </main>
{{ end }}