
/*
PICTURE
-------
Picture element with lazy loading
*/

.a-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.a-picture img[data-src] {
  filter: blur(25px);
  will-change: filter; /* Optimize for animation */
}

.a-picture img.is-loaded {
  filter: blur(0);
  transition: filter .4s ease-out;
}
